@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  list-style-position: inside;
  overflow-x: hidden;
}

body, html {
  margin: 0;
  padding: 0;
}